

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require leaflet.markercluster
 */

/*--- Variables ---*/

/*    Colours */
$blue:              #1B75BB;
$green:             #6F8D09;
$purple:            #81097A;
$orange:            #EA8511;
$light-grey:        #F7F7F7;
$dark-grey:        #4A4A4A;

/*    Fonts */
$opensans:          'Open Sans', Helvetica, sans-serif;
$opensanscondensed: 'Open Sans Condensed', Helvetica, sans-serif;



/*--- Layout ---*/
body {
  font-family: $opensans;
  font-size: 16px;
}

.navbar {
 margin-bottom: 0;
}

ul.navbar-nav {
 margin: 0.5em 0;
 font-family: $opensanscondensed;
}


/*--- Images  ---*/
img {max-width: 100%; height: auto;}

/*--- Colours ---*/
.bg-color-1 { background-color: rgba(129, 9, 122, 1); } /* Purple */
.bg-color-2 { background-color: rgba(111, 141, 9, 1); } /* Green */
.bg-color-3 { background-color: rgba(234, 133, 17, 1); } /* Orange */
.bg-color-4 { background-color: rgba(27, 117, 187, 1);} /* Blue */

/*--- Buttons ---*/

a.rounded.button {
 background: $purple;
 color: white;
 border: $purple 1px solid;
 border-radius: 2em;
 padding: 0.25em 1em;;
}


/*--- Specific Page Styles ---*/

/*--- Group Page ---*/

header.group-header h1 {
 font-family: $opensanscondensed;
 font-size: 26px;
 margin: 0.5em 0;
 color: white;
}

#group-content {
 background: $light-grey; 
 #visualisations {background: white;}
 nav {
  border-bottom: 1px solid $light-grey;
  padding: 0.5em 0;
  a {
   color: $dark-grey;
   font-family: $opensans;
   background: $light-grey;
   border-radius: 5px;
   margin-right: 0.5em;
   padding: 0.5em 1em;
   &.active, &:hover {
    background: $blue;
    color: white;
   }
   &.active {
    font-weight: 800; 
    &:hover {cursor: default;}
    }
  }
 }
 #about-group {
  img { margin: 1em 0;}
  a {
   margin: 0.5em 0 0 0;
   display: inline-block;
  }
 }
}



#map { height:75vh; }
.clear { clear:both; }

@media all and (max-width: 767px) {
  #map { height:54vh; }
}

a.navbar-brand {
  height: auto;
  font-size: 2em;
  line-height: 2em;
  padding: 0;
}

a.navbar-brand img { height: 2em;  padding: 0.2em; padding-left: 0; display: inline-block; }

.no-gutter {
    padding-right:0;
    padding-left:0;
}