.group {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.blurb {
    width: 100%;
    float: left;
}


.square-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: left;
  border: 1px solid white;
}

.squares > div:first-child {
  margin-top: 0; }



/* over 1170 - desktop sizes */
@media (min-width: 1170px) {
  .blurb  {
      width: 40%;
      float: left;
      height: calc(100vw / 12 * 4 - 41px); 
  }
  
  .group {
      width: 20%;
      float: left;
      height: calc(100vw / 12 * 2 - 20px);
   }

}

/* up to 970 - desktop sizes */
@media (max-width: 1170px) {
  .group,
  .blurb  {
          width: 33.33%;
          float: left;
      }
  
  .group {
    height: calc(100vw / 12 * 3 - 20px); }
  
  .blurb {
    height: calc(100vw / 12 * 6 - 41px); }

}


/* up to 970 - desktop sizes */
@media (max-width: 750px) {

  .blurb  {
          width: 100%;
          float: none;
          height: auto
      }


  .group {
          width: 50%;
          float: left;
          height: calc(100vw / 12 * 5 - 20px);
      }
  
}



/* up to 480px - mobile */
@media (max-width: 480px) {
  .group,
  .blurb  {
          width: 100%;
          float: none;
      }
  
  .height-2 {
    height: auto; }
  
  .height-4 {
    height: auto; }
    
  .square-content {
    padding: 15px;
 }
 
 .squares > div {
    height: auto; }
  .squares > div > div {
    height: auto; } 
}




.no-pad { 
  padding-left: 0;
  padding-right: 0; }
.square {
  background-size: cover;}
.square-content {
  position: relative; z-index: 100;
  transition: all 0.5s ease;
  color: white;}
 
 .square-content.heading {
  background: #81097A;
  border-bottom: none;
 }
 .square-content h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 26px;
  margin: 0; }
 .square-content h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 5px 0; }
  .square-content p {
   font-size: 14px;
   line-height: 1.2;
  }
 .square img {
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: 0.25;
  }
  
  .square a {
   color: white;
  }
 
 .padding {
  padding: 25px;
  display: block;
 }



.heading {
  justify-content: flex-start; }
  .heading h1 {
    letter-spacing: 2px;
    font-weight: 700; }
@media(max-width: 480px) {
  .heading h1 {
    line-height: 5vh; } }
