.square-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: left;
}
@media(max-width: 480px) {
  .square-content {
    padding: 15px;
 } }
.height-1 {
  height: calc(100vw / 12 * 1 - 40px); }

.height-2 {
  height: calc(100vw / 12 * 2 - 20px); }

.height-3 {
  height: calc(100vw / 12 * 3 - 40px); }

.height-4 {
  height: calc(100vw / 12 * 4 - 41px); }

.height-5 {
  height: calc(100vw / 12 * 5 - 40px); }

.height-6 {
  height: calc(100vw / 12 * 6 - 40px); }

.height-7 {
  height: calc(100vw / 12 * 7 - 40px); }

.height-8 {
  height: calc(100vw / 12 * 8 - 40px); }

.height-9 {
  height: calc(100vw / 12 * 9 - 40px); }

.height-10 {
  height: calc(100vw / 12 * 10 - 40px); }

.height-11 {
  height: calc(100vw / 12 * 11 - 40px); }

.height-12 {
  height: calc(100vw - 40px); }

.squares {
  padding-bottom: 30px; }

.squares #intro:after {
    color: #81097A;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #81097A;
    border-bottom-color: inherit;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    }
  
  .squares > div:first-child {
    margin-top: 0; }
@media(max-width: 480px) {
  .squares > div {
    height: auto; } }

@media(max-width: 480px) {
  .squares > div > div {
    height: auto; } }
.no-pad { 
  padding-left: 0;
  padding-right: 0; }
.square {
  background-size: cover;}
.square-content {
  position: relative; z-index: 100;
  transition: all 0.5s ease;
  color: white;}
 
 .square-content.heading {
  background: #81097A;
 }
 .square-content h1 {
  font-size: 26px;
  margin: 0; }
 .square-content h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 5px 0; }
  .square-content p {
   font-size: 14px;
   line-height: 1.2;
  }
 .square img {
   position: absolute;
   max-width: 100%;
   height: 100%;
   opacity: 0.25;
  }
  
  .square a {
   color: white;
  }
 
 .padding {
  padding: 15px;
  display: block;
 }



.heading {
  justify-content: flex-start; }
  .heading h1 {
    letter-spacing: 2px;
    font-weight: 700; }
@media(max-width: 480px) {
  .heading h1 {
    line-height: 5vh; } }
