// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day span  { padding:0.5em; border-radius:1em; }
.day span.up { background-color: #EA8511; color:white; }
.day span.down { background-color: #1B75BB; color:white; }
.day span.split { background-color: #81097A; color:white; }

.day span.ringup { border: 4px solid #EA8511; }
.day span.ringdown { border: 4px solid #1B75BB; }
.day span.ringsplit { border: 4px solid #81097A; }