// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day span  { padding:0.5em; border-radius:1em; }
.day span.up { background-color: #EA8511; color:white; }
.day span.down { background-color: #1B75BB; color:white; }
.day span.split { background-color: #81097A; color:white; }

#map-legend {
  
  position: absolute;
  top: 10px;
  left: 42px;
  background-color: white;
  padding: 8px;
  box-shadow: 0px 0px 4px 1px gray;
  border-radius: 4px;
  z-index: 1000;

  p { margin: 0em; text-align: left; }

  .group-icon, .user-icon { 
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 1em;
    background-color: #EA8511;
    border: 4px solid #EA8511;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .user-icon { background-color: white; }
}

@mixin orange-blue-split($opacity){
  background: rgba(234,133,17,1);
  background: -moz-linear-gradient(top, rgba(234,133,17,1) 0%, rgba(234,133,17,0.8) 49%, rgba(0,0,255,0.8) 51%, rgba(0,0,255,$opacity) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,133,17,1)), color-stop(49%, rgba(234,133,17,0.8)), color-stop(51%, rgba(0,0,255,0.8)), color-stop(100%, rgba(0,0,255,$opacity)));
  background: -webkit-linear-gradient(top, rgba(234,133,17,1) 0%, rgba(234,133,17,0.8) 49%, rgba(0,0,255,0.8) 51%, rgba(0,0,255,$opacity) 100%);
  background: -o-linear-gradient(top, rgba(234,133,17,1) 0%, rgba(234,133,17,0.8) 49%, rgba(0,0,255,0.8) 51%, rgba(0,0,255,$opacity) 100%);
  background: -ms-linear-gradient(top, rgba(234,133,17,1) 0%, rgba(234,133,17,0.8) 49%, rgba(0,0,255,0.8) 51%, rgba(0,0,255,$opacity) 100%);
  background: linear-gradient(to bottom, rgba(234,133,17,1) 0%, rgba(234,133,17,0.8) 49%, rgba(0,0,255,0.8) 51%, rgba(0,0,255,$opacity) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8511', endColorstr='#0000ff', GradientType=0 );
}

.marker-cluster div {
  margin-left: 3px;
  margin-top: 3px;
}

.marker-cluster-up, 
.marker-cluster-down,
.more-ones,
.more-zeroes,
.equal-amount { width: 36px; height: 36px; 
  div span { color: white; font-size: 1.4em; }
}

.marker-cluster-up, .more-ones {
  background-color: rgba(253, 156, 115, 0.6);
  div { background-color: rgba(241, 128, 23, 0.6); }
}

.marker-cluster-down, .more-zeroes { 
  background-color: rgba(0, 0, 255, 0.6); 
  div { background-color: rgba(0, 0, 255, 0.6); }
}

.marker-cluster-equal, .equal-amount {
  @include orange-blue-split(0.6); 
  div { @include orange-blue-split(0.6); }
}


/* calendar */

.day span.ringup { border: 4px solid #EA8511; }
.day span.ringdown { border: 4px solid #1B75BB; }
.day span.ringsplit { border: 4px solid #81097A; }

.leaflet-tile-pane .leaflet-layer { filter: grayscale(1); }
.leaflet-popup-content .marker-popup p { margin: 1em 0; }
.leaflet-popup-content .marker-popup p.question { font-weight: bold; }

.modal-content { padding: 2%; }

span.small { font-size:0.6em; }


/* DATAMARK POPUP */
form.answer { width:100% }
form.answer input { width:45%; display:inline-block; }
.answer textarea { display:none; }

div.moment-editor {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 1010;
  right: 0px;
  height: 100%;
  background-color: white;
  width: 47%;
  padding: 2%;
}

div.moment-editor.active { display:block; }

.arrow_box {
  position: relative;
  background: #ffffff;
  border-left: 2px solid #aaa;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 17px;
  margin-top: -17px;
}
.arrow_box:before {
  border-color: rgba(230, 230, 230, 0);
  border-right-color: #aaa;
  border-width: 20px;
  margin-top: -20px;
}

div.slider.leaflet-control { 
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px gray;
  border-radius: 4px;
  padding-left: 15px;

  p { margin: 0px;
    margin-bottom: 3px;
    left: -5px;
    position: relative; }
}

#slider-timestamp {
  top: 6px;
  position: relative;
  box-shadow: 0px 0px 4px 1px gray;
}

ul#members-list li { 
    
  span { 
    padding: 0.25em 0em;
    display:inline-block;
  }

  input[type="submit"] { 
    float: right;
    width: 40%;
    min-width: 10em;
  }
}