/* Colours */
$blue:    #1B75BB;
$green:   #6F8D09;
$purple:  #81097A;
$orange:  #EA8511;


/* Fonts */
$opensans:          'Open Sans', Helvetica, sans-serif;
$opensanscondensed: 'Open Sans Condensed', Helvetica, sans-serif;